{% extends "layout.twig" %}

{% block title %}Seite konnte nicht gefunden werden{% endblock %}
{% block content %}
<div class="container">
  <br><br>

  <div class="alert alert-info">
    <br>
    Die angeforderte Seite konnte leider nicht gefunden werden.
    <br>
    <a href="{{ path_for('index') }}">Zurück zur Startseite</a>
    <br><br>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
{% endblock %}
