{% extends "layout.twig" %}

{% block title %}Zur Person - Robert Voit{% endblock %}
{% block nav4 %}id="active"{% endblock %}

{% block content %}

<style>
.overview {
  line-height: 1.5;
  font-size: 17px;
}
</style>

<div class="container-fluid" style="min-height: 100vh;">

  <div class="container">

    <div class="row">

      <div class="col-md-10 col-md-offset-1">

        <h2 style="margin-top: 30px;">Beruflicher Werdegang</h2>
        <hr style="border-color: #E3493B;">

        <ul class="overview">
          <li>Abitur, Gymnasium Wunsiedel</li>
          <li>Schreinerlehre, Schreinerei Meier Bischofsgrün (1978 - 1980)</li>
          <li>Holzbildhauerlehre, Staatliche Berufsfachschule für Holzbildhauer in Bischofsheim/Rhön (1981 - 1984)</li>
          <li>Geselle bei Firma Schmuck GmbH, Werkstätte für Kirchenrestaurierungen (1984 - 1986)</li>
          <li>Eigenvorbereitung zur Meisterprüfung als Holzbildhauer (1987)</li>
          <li>Ablegung der Meisterprüfung in München bei der HWK Oberbayern (1987)</li>
          <li>Selbstständige Tätigkeit ab März 1988</li>
        </ul>

      </div>

    </div>

  </div>

</div>

{% endblock %}
