{% extends "layout.twig" %}

{% block title %}Kontakt - Robert Voit{% endblock %}
{% block nav6 %}id="active"{% endblock %}

{% block header %}
<script src="{{ path_for('index') }}scripts/contact.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh; padding: 0;">
  <div class="container">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2>Kontakt</h2>
        <hr style="border-color: #E3493B;">
      </div>
    </div>

    <form class="form-horizontal" role="form" onsubmit="event.preventDefault(); send();">
     <div class="form-group">
       <label class="control-label col-sm-2" for="email">Ihre E-mail Adresse:</label>
       <div class="col-sm-10">
         <input type="email" class="form-input" id="email" placeholder="E-mail Adresse">
       </div>
     </div>
     <div class="form-group">
       <label class="control-label col-sm-2" for="msg">Ihre Nachricht:</label>
       <div class="col-sm-10">
         <textarea id="msg" class="form-input" rows="5" style="resize:vertical" placeholder="Nachricht"></textarea>
       </div>
     </div>

     <div class="row">
       <div class="col-md-10 col-md-offset-2">
         <div class="alert alert-danger" id="alert1">Bitte alle Felder ausf端llen</div>
         <div class="alert alert-danger" id="alert2">Nachricht konnte nicht gesendet werden, bitte versuchen Sie es in K端rze wieder</div>
         <div class="alert alert-success" id="alert3">Nachricht gesendet</div>
       </div>
     </div>

     <div class="form-group">
       <div class="col-sm-offset-2 col-sm-10">
         <button type="button" class="btn btn-default pull-left" onclick="send()" style="margin-right: 7px;">Senden</button>
         <div class="loader"></div>
       </div>
     </div>
    </form>

    <div class="row">

      <div class="col-md-8 col-md-offset-2">
        <h3>Kontaktinformationen:</h3>

        <p>
        Robert Voit<br>
        H端tten 14<br>
        95485 Warmensteinach<br>
        voit.robert[at]t-online.de<br><br>

        Telefon: +499277 97094<br>
        Fax: +499277 97095
        </p>
        <hr style="border-color: #E3493B;">
      </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-md-offset-2">
          <h3>Anfahrt:</h3>
      </div>
    </div>
  </div>

  <div id="googleMap" style="height:400px;width:100%;margin-bottom: 80px;"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSPalp9U-CxhEAgR07r2EBxq37q2yNIl4"></script>
<script>
function initialize(){var e={center:myCenter,zoom:14,mapTypeId:google.maps.MapTypeId.ROADMAP},n=new google.maps.Map(document.getElementById("googleMap"),e),o=new google.maps.Marker({position:myCenter});o.setMap(n);var a=new google.maps.InfoWindow({content:"H端tten 14, 95485 Warmensteinach"});google.maps.event.addListener(o,"click",function(){a.open(n,o)})}var myCenter=new google.maps.LatLng(50.006803,11.819808);google.maps.event.addDomListener(window,"load",initialize);
</script>

{% endblock %}
