{% extends "layout.twig" %}

{% block title %}Robert Voit - Holzbildhauer &amp; Schreiner{% endblock %}
{% block nav1 %}id="active"{% endblock %}

{% block content %}

    <script>
    $(document).ready(function() {
      var duration = 700;
      $(".splash-main").hide();
      $(".splash-main").fadeIn(duration);

      $(".splash-small").hide();
      setTimeout(function() {
        $(".splash-small").fadeIn(duration);
      }, duration);
    });
    </script>

    <div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <div class="splash-text">
        <span class="splash-main unselectable">Robert Voit</span><br>
        <span class="splash-small unselectable">Restaurierungen seit 1985</span>
      </div>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="gfx/splash1.jpg" class="unselect-img" alt="Bild wird geladen..." width="1200" height="700">
        </div>

        <div class="item">
          <img src="gfx/splash2.jpg" class="unselect-img" alt="Bild wird geladen..." width="1200" height="700">
        </div>

        <div class="item">
          <img src="gfx/splash3.jpg" class="unselect-img" alt="Bild wird geladen..." width="1200" height="700">
        </div>
      </div>

      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Vorheriges</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Nächstes</span>
      </a>
    </div>

    <div class="container-fluid" style="margin-bottom: 100px;">


      <div class="container">

        <div class="row">

          <div class="col-md-8 col-md-offset-2">

            <h2 style="margin-top: 30px;">Herzlich Willkommen!</h2>

            <p style="font-size: 18px;">
              Willkommen auf meiner Homepage.
              Hier finden Sie einen Ausschnitt meiner Arbeiten,
              sowie eine Galerie mit Bildbeispielen und eine Referenzliste.
              Gerne können Sie mich kontaktieren.
            </p>

          </div>

        </div>


        <div class="row" style="margin-top: 50px;">
          <div class="col-md-8 col-md-offset-2"><h2>Kontakt</h2><hr style="margin-top: 0; border-color: #E3493B;"></div>
        </div>



        <form class="form-horizontal" role="form" onsubmit="event.preventDefault(); send();">
         <div class="form-group">
           <label class="control-label col-sm-2" for="email">Ihre E-mail Adresse:</label>
           <div class="col-sm-10">
             <input type="email" class="form-input" id="email" placeholder="E-mail Adresse">
           </div>
         </div>
         <div class="form-group">
           <label class="control-label col-sm-2" for="msg">Ihre Nachricht:</label>
           <div class="col-sm-10">
             <textarea id="msg" class="form-input" rows="5" style="resize:vertical" placeholder="Nachricht"></textarea>
           </div>
         </div>

         <div class="row">
           <div class="col-md-10 col-md-offset-2">
             <div class="alert alert-danger" id="alert1">Bitte alle Felder ausfüllen</div>
             <div class="alert alert-danger" id="alert2">Nachricht konnte nicht gesendet werden, bitte versuchen Sie es in Kürze wieder</div>
             <div class="alert alert-success" id="alert3">Nachricht gesendet</div>
           </div>
         </div>

         <div class="form-group">
           <div class="col-sm-offset-2 col-sm-10">
             <button type="button" class="btn btn-default pull-left" onclick="send()" style="margin-right: 7px;">Senden</button>
             <div class="loader"></div>
           </div>
         </div>
        </form>

      </div>

    </div>

{% endblock %}

{% block footer %}
<script src="{{ path_for('index') }}scripts/contact.min.js"></script>
{% endblock %}
