{% extends "layout.twig" %}

{% block title %}Tätigkeiten - Robert Voit{% endblock %}
{% block nav2 %}id="active"{% endblock %}

{% block header %}
<link href="{{ path_for('index') }}styles/taetigkeiten.min.css" rel="stylesheet">
{% endblock %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh;">

  <div class="container">

    <div class="row" style="margin-top: 30px;">

      <div class="col-md-4">

        <div class="box">

          <h3 class="box-header">Restaurierungen</h3>

          <div class="box-container">

            <ul>
              <li>Kirchen- bzw. Schlösserinventar</li>
              <li>Möbel, Intarsienarbeiten</li>
              <li>Fenster, Türen, Böden, Wandverkleidungen</li>
              <li>Oberflächenbehandlung: Ölen, Wachsen, Polieren</li>
            </ul>

          </div>

          <div class="box-footer">

            <hr class="box-divider">

            <a href="{{ path_for('restaurierungen') }}" class="box-button">Bilder anzeigen</a>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="box">

          <h3 class="box-header">Holzbildhauerarbeiten</h3>

          <div class="box-container">

            <ul>
              <li>Kirchen-, Orgelornamentik</li>
              <li>Figurenkopien</li>
            </ul>

          </div>

          <div class="box-footer">

            <hr class="box-divider">

            <a href="{{ path_for('holzbildhauerarbeiten') }}" class="box-button">Bilder anzeigen</a>

          </div>

        </div>

      </div>

      <div class="col-md-4">

        <div class="box">

          <h3 class="box-header">Möbelbau</h3>

          <div class="box-container">

            <ul>
              <li>Tische</li>
              <li>Betten</li>
              <li>Schränke</li>
            </ul>

          </div>

          <div class="box-footer">

            <hr class="box-divider">

            <a href="{{ path_for('moebelbau') }}" class="box-button">Bilder anzeigen</a>

          </div>

        </div>

      </div>

    </div>

    <h2 style="margin-top: 30px;">Zusammenarbeit mit:</h2>
    <hr style="border-color: #E3493B;">

    <ul class="zusammenarbeiten">

      <li>Staatliches Bauamt Bayreuth</li>
      <li>Staatliches Bauamt Amberg/Sulzbach</li>
      <li>Firma Spitzner, Kirchenmaler und Fachbauleitung</li>
      <li>Erwin Rösch, Kirchenmaler, Befunduntersuchung</li>
      <li>Gudrun Franke, Vergoldermeisterin</li>
      <li>Adolf Mörtl, Kunsthistoriker</li>
      <li>Monika Ritter, akad. Bildhauerin</li>
      <li>Hubert Langner, Schreinermeister</li>
      <li>Orgelbau Vleugels, Hardheim</li>
      <li>Orgelbau Eichfelder, Bamberg</li>

    </ul>

    <br><br><br><br><br>

  </div>
</div>

{% endblock %}
