.box {
  padding: 0;
  box-shadow: 0px 2px 6px #666;
  transition: 0.4s;
  border: 2px solid #E3493B;
  border-radius: 2px;
  margin-bottom: 20px;
}
.box:hover {
  box-shadow: 0px 3px 12px #666;
}
.box-header {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  color: #fff;
  background-color: #E3493B;
  margin: 0;
  border: 1px solid #E3493B;
}
.box-container {
  padding: 35px 0px;
  min-height: 240px;
}
.box-container > ul {
  margin: auto 0px;
  font-size: 19px;
}
.box-divider {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-color: #E3493B;
}
.box-footer {
  padding: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}
.box-button {
  margin: 20px auto;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  padding: 8px;
  background-color: #E3493B;
  transition: background 0.2s;
  border-radius: 3px;
}
.box-button:hover, .box-button:focus, .box-button:active {
  color: #fff !important;
  text-decoration: none;
}
.box-button:hover {
  background-color: #BF392D !important;
}
.box-button::after {
  content: ">";
  margin-left: 5px;
}

.zusammenarbeiten {
  font-size: 20px;
}
