*, html {
  outline: 0 !important;
  font-family: 'Open Sans', sans-serif;
}
.navbar {
  border-radius: 0;
  border: 0;
  background-color: #eee;
  box-shadow: 0px 0px 6px #444;
  margin-bottom: 0px;
  z-index: 2;
}
.navbar-brand {
  color: #191919 !important;
  padding: 15px 10px;
  font-family: 'Lora', serif;
}
.navbar-toggle {
  border: 0;
}
.icon-bar {
  background-color: #E3493B !important;
}
.nav > li > a {
  color: #191919 !important;
  transition: 0.15s;
  padding: 20px 25px;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: #E3493B !important;
  color: #f9f9f9 !important;
}
#active > a {
  background-color: #E3493B !important;
  color: #f9f9f9 !important;
}
.dropdown > a {
  background-color: #eee !important;
}
.dropdown-menu > li > a {
  padding: 15px 20px;
}
.dropdown-menu > li > a:hover {
  background-color: #ff7a6e !important;
  color: #f9f9f9 !important;
}
@media screen and (max-width: 768px) {
  .dropdown-menu {
    border-bottom: 1px solid #d6d6d6 !important;
    margin: 4px 8px;
    border-radius: 0;
  }
  .dropdown-menu a {
    color: #232323 !important;
    padding-top: 6px;
    padding-bottom: 6px;
  }
  .dropdown-menu a:hover {
    color: #fff !important;
    background-color: #E3493B !important;
  }
}
.carousel-inner img {
  width: 100%;
  max-height: 95vh;
}
.carousel-indicators {
  cursor: default;
}
.carousel-control {
  background-image: none !important;
}
.splash-text {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 120px;
  margin-top: -60px;
  text-align: center;
  z-index: 2;
  color: #fff;
  line-height: 50px;
  cursor: default;
}
.splash-main {
  font-size: 72px;
  /*font-family: 'Josefin Slab', serif;*/
  font-family: 'Lora', serif;
  letter-spacing: 8px;
  text-shadow: 0px 0px 15px #000;
}
.splash-small {
  font-size: 29px;
  letter-spacing: 5px;
  /*font-family: 'Josefin Slab', serif;*/
  font-family: 'Lora', serif;
  text-shadow: 0px 0px 15px #000;
}
@media screen and (max-width: 768px) {
  .splash-small {
    font-size: 16px;
    letter-spacing: 3px;
  }
  .splash-main {
    font-size: 34px;
  }
  .splash-text {
    height: 40px;
    line-height: 20px;
    margin-top: -20px;
  }
}

footer {
  padding: 60px 20px;
  background-color: #191919;
  color: #f2f2f2;
}
footer p:last-child {
  margin-bottom: 0px;
}
footer > div {
  max-width: 350px;
  margin: 0px auto;
}
.unselectable {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.unselect-img {
  pointer-events: none;
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #8bc34a; /* Blue */
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
    display: inline-block;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.referenz {
  padding-left: 12px;
  padding-bottom: 10px;
}
.pagination > li > a {
  color: #E3493B !important;
}
.pagination > li.active > a {
    color: #fff !important;
    background-color: #E3493B !important;
    border-color: #E3493B !important;
}





@media (min-width: 1000px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }
    .navbar-brand {
      display: none;
    }
}


.btn-default {
  border-radius: 0px;
  transition: 0.15s;
}
.btn-default:hover {
  box-shadow: 0px 8px 16px #d6d6d6;
}
.btn-default:active {
  box-shadow: 0px 4px 6px #d6d6d6;
}






@media (max-width: 1000px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}


.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  transition: border 0.3s, box-shadow 0.5s;
  box-shadow: inset 0px 0px 1px #d6d6d6;
}
.form-input:focus {
  border-color: #E3493B;
  box-shadow: 0px 0px 4px #aaa;
}












.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
