{% extends "layout.twig" %}

{% block title %}Holzbildhauerarbeiten - Galerie{% endblock %}
{% block nav3 %}id="active"{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ path_for('index') }}styles/gallery.min.css">
{% endblock %}

{% block content %}

<div class="container-fluid" style="min-height: 100vh">

  <div class="container">

    <h2 style="margin-top: 30px;">Holzbildhauerarbeiten - Galerie</h2>
    <hr style="border-color: #E3493B;">

    <div class="row">

      <div class="col-md-3">
        <a href="{{ path_for('galerie_id', {'id': '4'}) }}" class="gallery-preview"><div style="background-image: url('{{ path_for('index') }}gfx/amerika/1.jpg');" class="previewimg"></div></a>
      </div>
      <div class="col-md-3 desc">
        <h3><a href="{{ path_for('galerie_id', {'id': '4'}) }}" class="preview-text">Orgelfiguren</a></h3>
        <p>Figuren für eine Orgel, Bundesstaat New York</p>
      </div>

      <div class="col-md-3">

      </div>

    </div>

  </div>

  <br><br><br>

</div>

{% endblock %}
